<launch>
  <arg name = "rate" default = "10"/>
  <arg name = "a" default = "10"/>
  <arg name = "b" default = "10"/>
  <arg name = "record" default = "0"/>
  <arg name = "duration" default ="15"/>

  <node pkg="beginner_tutorials" type="talker" name="talker1" output="screen" args = "$(arg rate)"/>
  <node pkg="beginner_tutorials" type="listener" name="listener1" output="screen" args = "$(arg rate)"/>

  <node pkg="beginner_tutorials" type="add_two_ints_server" name="add_server"/>
  <node pkg="beginner_tutorials" type="add_two_ints_client" name="add_client" args="$(arg a) $(arg b)"/> 
  <group if = "$(arg record)">
    <node name="record_beginner_tutorials" pkg="rosbag" type="record" args="-a -O $(find beginner_tutorials)/results/record_beginner_tutorials.bag --duration=$(arg duration)"/>
  </group> 
</launch>
